# Prerequisites
*.d
*.json

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Files
*.bin
*.txt

*.vcxproj.filters
*.vcxproj
Semestr 2/Lab 7 - GraphBuilder/.vs/Lab 7 - GraphBuilder/v17/ipch/AutoPCH/22d502843ea5395/MAIN.ipch
Semestr 2/Lab 7 - GraphBuilder/.vs/Lab 7 - GraphBuilder/v17/ipch/AutoPCH/379c8275dbc01394/MAIN.ipch
Semestr 2/Lab 7 - GraphBuilder/.vs/Lab 7 - GraphBuilder/v17/ipch/AutoPCH/aba5478068e19ad4/MAIN.ipch
*.vsidx
Semestr 2/Lab 7 - GraphBuilder/.vs/Lab 7 - GraphBuilder/FileContentIndex/51555d25-a271-4215-ae62-1a305147defa.vsidx
Semestr 2/Lab 7 - GraphBuilder/.vs/Lab 7 - GraphBuilder/FileContentIndex/46c7cc3a-ebc4-486f-9508-a7e8db9e4f5b.vsidx
